* {
	padding: 0;
	margin: 0;
}

html, body, #bgBtn {
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #FFFFFF;
	-webkit-user-select: none;
}

#bgBtn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#bgBtn:hover, #infoBtn:hover, #closeBtn:hover, #panelToggleBtn:hover, .swatch:hover {
	cursor: pointer;
}

#panel, #panelToggleBtn {
	float: left;
}

#panel {
	width: 100%;
	background-color: #000000;
	position: relative;
	z-index: 2;
}

#savedColors {
	height: 85px;
	width: 93%;
	border: 2px solid #333;
	margin: 15px auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

#savedColors:hover {
	overflow-x: scroll;
}

#scrollWrapper {
	display: inline-block;
	width: 100%;
	overflow: scroll;
}

#noSavedColorsLabel {
	text-align: center;
	line-height: 80px;
}

.swatch {
	display: inline-block;
	width: 65px;
	height: 65px;
	margin: 10px;
	background-color: #333;
	position: relative;
}

.swatch:first-child {
	margin-left: 20px;
}

.swatch:last-child {
	margin-right: 20px;
}

.swatch:hover i {
	display: inline-block;
}

.swatchCloseBtn {
	position: absolute;
	top: 3px;
	right: 3px;
	color: white;
}

.show {
	display: inline-block;
}

.hide {
	display: none;
}

#colorCodeLabel {
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 5px;
	width: 270px;
	font-size: 170%;
	/*-webkit-user-select: text;*/
}

#copyBtn {
	margin-left: 20px;
	font-size: 70%;
}

#infoBtn {
	color: white;
	float:right;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	font-size: 140%;
	text-align: center;
	line-height: 32px;
}

#panelToggleBtn {
	width: 30px;
	height: 30px;
	background-color: #000000;
	z-index: 2;
	position: relative;
}

#panelToggleBtn > i {
	text-align: center;
	font-size: 130%;
	padding: 5px;
}

#popupOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background-color: rgba(0,0,0,.8);
}

#infoContent {
	width: 80%;
	max-width: 500px;
	height: 80%;
	min-height: 450px;
	max-height: 500px;
	background-color: #000000;
	position: relative;
	z-index: 3;
	border: 5px solid #FFFFFF;
	border-radius: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	margin: 0 auto;
	box-sizing: border-box;
}

#closeBtn {
	position: absolute;
	top: 5px;
	right: 7px;
	font-size: 200%
}

#title {
	text-align: center;
	margin-top: 50px
}

#instructions, #instructionsTouch {
	margin: 30px 20px;
	text-align: center;
	line-height: 25px;
}

#instructions span {
	color: #1A81C5;
	font-weight: 900;
}

#instructionsTouch {
	display: none;
}

#preferences {
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
	border-top: 2px solid white;
	padding-top: 10px;
}

form {
	margin: 0 auto;
	margin-left: -30px;
}

label {
	margin-left: 30px;
}

#hexInput, #rgbInput {
	margin-top: 5px;
}

#LightShowFoSho {
	margin-top: 10px;
}

.clear:before, .clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}



